@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue dans votre espace de gestion</h1>
</div>

<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link">Gestion des inscrits</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Statistiques de ventes</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Revenir à l'accueil</a></li>
        </ul>
    </header>
</div>
