@{
    ViewData["Title"] = "Accueil Jeux Olympique 2024";
}

<div class="mb-3">
    <div class="p-5 text-center bg-body-tertiary" style="background-image: url('images/logo_entete.png'); background-size: cover; background-position: center; height: 300px; width: 100%">
        <div class="container pt-3">
            <h1> Bienvenue aux Jeux Olympiques 2024</h1>
        </div>
    </div>
</div>

<section>
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary" style="background-image: url('images/jo_actualite.png'); background-size: cover; background-position: center;">
        <div class="col-lg-6 px-0">
            <h2>Retrouvez toute l'actualité des JO</h2>
            <p class="lead my-3">Ne ratez aucunes news des jeux olympiques : classement des médailles, calendrier des évènements, sponsors, etc.</p>
            <p class="lead mb-0"><a href="#" class="text-body fw-bold">Page des actualités...</a></p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">Basket ball</strong>
                    <h3 class="mb-0">Echec de l'équipe de France</h3>
                    <div class="mb-1 text-body-secondary">04 août 2024</div>
                    <p class="card-text mb-auto">L'équipe de France de basket ball n'a pas su renverser l'équipe des USA'.</p>
                    <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                        Continuer la lecture
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="images/france_basket.png" width="200" height="250" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success-emphasis">Natation</strong>
                    <h3 class="mb-0">Exploits des nageurs français</h3>
                    <div class="mb-1 text-body-secondary">05 août 2024</div>
                    <p class="mb-auto">Découvrez les nouveaux explois réalisés par nos nageurs français.</p>
                    <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                        Continuer la lecture
                    </a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="images/france_natation.png" width="200" height="250" />
                </div>
            </div>
        </div>
    </div>
</section>


<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h2 class="display-4 fw-normal text-body-emphasis">Dernières évènements ajoutés</h2>
    <p class="fs-5 text-body-secondary">De nouveaux évènements sportifs et de nouvelles place ont été ajoutées. Attention, les disponibilités sont très limitées !</p>
</div>

<div class="container">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h2 class="display-4 fw-bold lh-1 text-body-emphasis">Tir à l'arc</h2>
            <p class="lead fw-bolder fs-3">8ème dez finale du Tir à l'arc homme</p>
            <p class="lead fw-bold">11 octobre 2024</p>
            <p class="lead">Pelouse du Stade de Vincenne</p>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden text-center pb-3">
            <a class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" asp-action="Details">Réserver</a>
        </div>
    </div>
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h2 class="display-4 fw-bold lh-1 text-body-emphasis">Natation</h2>
            <p class="lead fw-bolder fs-3">Quart de finale de Natation Femme 500 mètres</p>
            <p class="lead fw-bold">12 octobre 2024</p>
            <p class="lead">Piscine du Parc des Princes</p>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden text-center pb-3">
            <a class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" asp-action="Details">Réserver</a>
        </div>
    </div>
</div>