@{
    ViewData["Title"] = "Confidentialité";
}

<section class="container mb-5">

    <h1 class="my-5">@ViewData["Title"]</h1>

    <p>Dernière mise à jour : 01/09/2024</p>

    <h2>1. Informations que nous collectons</h2>

    <h3> Informations personnelles</h3>

    <p class="lead"> Lorsque vous achetez des billets sur notre site, nous pouvons collecter les informations suivantes :
    <ul class="lead">
        <li> Nom et prénom</li>
        <li>Adresse e-mail</li>
        <li>Adresse postale</li>
        <li>Numéro de téléphone</li>
        <li>Informations de paiement (y compris les informations de carte de crédit ou autres modes de paiement)</li>
        <li>Informations sur votre commande (événements, quantité de billets, etc.)</li>
    </ul>

    <h3> Informations non personnelles</h3>

    <p class="lead">Nous collectons également des informations non personnelles qui ne permettent pas de vous identifier directement, telles que :</p>
    <ul class="lead">
        <li>Adresse IP</li>
        <li>Type de navigateur et version</li>
        <li>Pages consultées sur notre site </li>
        <li>Date et heure de votre visite</li>
        <li>Système d'exploitation utilisé</li>
    </ul>

    <h2>2. Utilisation de vos informations</h2>

    <p class="lead"> Les informations que nous collectons peuvent être utilisées pour : </p>
    <ul class="lead">
        <li>Traiter et gérer vos commandes de billets</li>
        <li>Fournir un service client efficace</li>
        <li>Envoyer des communications concernant votre commande ou des informations importantes sur les événements </li>
        <li>Améliorer notre site web et nos services</li>
        <li>Personnaliser votre expérience sur notre site</li>
        <li>Respecter les obligations légales et réglementaires</li>
    </ul>

    <h2>3. Partage de vos informations</h2>

    <p class="lead">Nous ne vendons, n’échangeons, ni ne transférons vos informations personnelles à des tiers sans votre consentement, sauf dans les cas suivants :</p>
    <ul class="lead">
        <li>Prestataires de services : Nous partageons vos informations avec des prestataires tiers qui nous aident à exploiter notre site web, à traiter les paiements ou à fournir des services connexes.</li>
        <li>Conformité légale : Nous pouvons divulguer vos informations si la loi l'exige ou si nous croyons que cette divulgation est nécessaire pour protéger nos droits, garantir votre sécurité ou celle des autres, enquêter sur des fraudes ou répondre à une demande gouvernementale.</li>
    </ul>

    <h2>4. Sécurité de vos informations</h2>

    <p class="lead">Nous mettons en œuvre une variété de mesures de sécurité pour protéger vos informations personnelles. Toutefois, aucun système de transmission de données sur Internet ou de stockage électronique n’est totalement sécurisé. Par conséquent, nous ne pouvons garantir la sécurité absolue de vos informations.</p>

    <h2>5. Cookies et technologies similaires</h2>

    <p class="lead">Nous utilisons des cookies et d’autres technologies similaires pour améliorer votre expérience sur notre site, analyser le trafic et personnaliser le contenu. Vous pouvez configurer votre navigateur pour refuser les cookies, mais cela pourrait affecter votre capacité à utiliser certaines fonctionnalités de notre site.</p>

    <h2>6. Vos droits</h2>

    <p class="lead"> Vous avez le droit de : </p>
    <ul class="lead">
        <li>Accéder à vos informations personnelles que nous détenons</li>
        <li>Demander la correction de vos informations si elles sont inexactes ou incomplètes</li>
        <li>Demander la suppression de vos informations personnelles</li>
        <li>Limiter ou vous opposer au traitement de vos informations personnelles</li>
        <li>Retirer votre consentement au traitement de vos informations à tout moment</li>
    </ul>
    <p class="lead"> Pour exercer ces droits, veuillez nous contacter à l'adresse indiquée ci-dessous. </p>

    <h2>7. Modifications de cette politique</h2>

    <p class="lead">Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera publiée sur cette page avec la date de révision mise à jour. Nous vous encourageons à consulter régulièrement cette page pour vous tenir informé des éventuels changements.</p>

    <h2>8. Nous contacter</h2>

    <p class="lead">Si vous avez des questions concernant cette politique de confidentialité ou si vous souhaitez exercer vos droits, veuillez nous contacter à :</p>
    <ul class="lead">
        <li>ENTREPRISE INFOEVENT</li>
        <li>Adresse : 25 rue des médailles d'or'</li>
        <li>E-mail : jonathan.saenger.pro@gmail.com</li>
        <li>Téléphone : 00 00 00 00 00 </li>
    </ul>

</section>


