@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmation mot de passe oublié !";
}

<h1>@ViewData["Title"]</h1>
<p>
    Un lien de renouvellement de mot de passe vous a été envoyé par mail. A très vite sur le site des Jeux Olympiques !  
</p>
