@page
@model RegisterModel
@{
    ViewData["Title"] = "Inscription";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row justify-content-center">
    <div class="col-md-5">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Créer un nouveau compte</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" class="form-control autocomplete="given-name" aria-required="true" placeholder="prénom" />
                <label asp-for="Input.FirstName">Prénom</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" class="form-control" autocomplete="family-name" aria-required="true" placeholder="nom" />
                <label asp-for="Input.LastName">Nom</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="p-3 mb-3 bg-light text-center" style="border: 5px solid; border-image: linear-gradient(90deg, blue, white, red) 1;">
                <div class="form-check form-switch d-flex align-items-center justify-content-center">
                    <input class="form-check-input me-2" type="checkbox" id="NotARobot" asp-for="Input.IsNotARobot" style="transform: scale(1.5);">
                    <label class="form-check-label px-3 d-flex align-items-center" for="NotARobot">
                        <strong>Je ne suis pas un robot</strong>
                        <i class="bi bi-robot me-2 px-3"></i>
                    </label>
                </div>
                <span asp-validation-for="Input.IsNotARobot" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">S'inscrire</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}