@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Le changement de votre mot de passe a bien été pris en compte. Cliquez sur le lien pour vous connecter <a asp-page="./Login">Se connecter</a>.
</p>
